#main {
    width: 1400px;
    overflow: auto;
    display: grid;
    grid-column-gap: 20px;
    grid-gap: 5px;
    grid-row-gap: 10px;
    margin: 80px auto 50px auto;
    grid-template-areas:
        'detail relate';
    grid-template-columns: 11fr 3fr;
}

#product-relate {
    grid-area: relate;
}

#product-detail {
    grid-area: detail;
    border: 2px dashed red;
    padding-right: 30px;
    position: relative;
}

.pre-style {
    white-space: pre-line;
    padding-left: 5px !important;
}